body {
  background: rgb(255, 255, 255);
  color: white;
}

.detailsNavStyleSimple {
  color: black;
  font-family: 'Volvo Novum';
}
.homeLinkStyle {
  font-size: 1.2em;
  text-decoration: none!important;
  color: #326bb4!important;
}
.linkStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none!important;
  color: #326bb4!important;
  padding: 10px;
}

.cardStyle {
  box-shadow: none!important;
  padding: 10px;
  width: 100%;
}

.imageStyle {
  width: 22vw;
  height: fit-content;
}

.breakWordStyle {
  flex-direction: row!important;
  flex-wrap: wrap!important;
  overflow-wrap: break-word!important;
}

.carModelTypeStyle {
  padding: 5px;
}

.slick-initialized .slick-slide {
  display: flex!important;
  justify-content: center!important;
}

.slick-slide img {
  display: -webkit-inline-box!important;
}

.navigationButtons {
  flex-direction: row!important;
  flex-wrap: wrap!important;
  justify-content: flex-end!important;
  padding: 25px!important;
}
.detailPageStyleImage {
  width: 20vw!important;
  height: 20vh!important;
}

.selectDropdownStyle{
  min-width: 200px!important;
  width: 15vw!important;
  padding: 15px!important;
}

.cardDetailStyle{
  padding: 10px;
}

.errorDiv {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.errorText {
  color: red;
  font-family: 'Volvo Novum';
  font-size: 1.2em;
}

/* Mobile device styling */

@media only screen and (max-width: 768px) {
  .imageStyle {
    width: 70vw;
    min-width: 50vw;
    height: 30vh;
  }
  .breakWordStyle {
    width: 45%;
  }
  .carModelTypeStyle {
    margin-left: -5px!important;
  }
  .selectDropdownStyle{
    width: 40vw!important;
  }
  .navigationButtons {
    display: none!important;
  }
}